* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.sinhnhat-image {
  @media (max-width: 700px) {
    display: none;
  }
}

.sinhnhat-image-vertical {
  @media (min-width: 700px) {
    display: none;
  }
}
